<!DOCTYPE html>
<html lang="<%- page.language %>">

<head>
    <%- include('includes/head.ejs'); -%>
</head>

<body>

<% /* Реклама вверху страницы */ %>
<% if (typeof page.adv === 'object' && page.adv.top) { %>
    <div style="text-align:center;margin:10px auto">
        <%- page.adv.top %>
    </div>
<% } %>

<% /* H1 тег */ %>
<h1><%- page.h1 %></h1>

<% /* Описание сайта */ %>
<% if (page.seo) { %>
    <div style="text-align:center;margin:10px auto">
        <%- page.seo %>
    </div>
<% } %>

<% /* Цикл блоков фильмов на главной странице */ %>
<% if (typeof index === 'object') { %>
    <% for (var type in index) { %>
        <% if (index.hasOwnProperty(type) && index[type].length && type !== 'episode') { %>
            <% index[type].forEach(function (category) { %>

                <% /* Справа от названия ссылка на случайный фильм из блока */ %>
                <div class="randomMovieIndex">
                    <div class="cinemapress-random-index"
                         onclick="window.location.href='<%- category.url %>?random'"
                         title="<%- page.l.random %>">
                        <img src="/themes/default/public/mobile/dice.svg" alt="<%- page.l.random %>">
                    </div>
                </div>

                <% /* Название блока */ %>
                <h2><%- category.name %></h2>

                <% /* Цикл фильмов в блоке */ %>
                <% if (typeof category === 'object' && category.movies && category.movies.length) { %>
                    <% category.movies.forEach(function (movie) { %>

                        <%- include('includes/single.ejs', {movie: movie}); -%>

                    <% }); %>
                <% } %>

            <% }); %>
        <% } %>
    <% } %>
<% } %>

<% /* Блок серий на главной странице */ %>
<% if (typeof index === 'object') { %>
    <% for (var type in index) { %>
        <% if (index.hasOwnProperty(type) && index[type].length && type === 'episode') { %>
            <% index[type].forEach(function (category) { %>

                <% /* Название блока */ %>
                <h2><%- category.name %></h2>

                <% /* Цикл серий в блоке */ %>
                <% var moreEpisodes = false; %>
                <% if (typeof category === 'object' && category.movies && category.movies.length) { %>
                    <ul>
                        <% category.movies.forEach(function (movie) { %>
                            <% /* Выводим ограниченное число серий, остальные скрываем */ %>
                            <li <% if (movie.hide) { moreEpisodes = true; %>style="display:none" data-more-episodes
                                    <% } %>
                            >
                                <% if (movie.season && movie.episode) { %>
                                    <% /* Сезон */ %>
                                    <%- movie.season %> <%- page.l.season %>
                                    <% /* Эпизод */ %>
                                    <%- movie.episode %> <%- page.l.episode %>
                                    <% if (movie.translate) { %>
                                        <% /* Озвучка */ %>
                                        <%- movie.translate %>
                                    <% } %>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                <% } %>

                <% /* Выводим кнопку для показа большего числа серий */ %>
                <% if (moreEpisodes) { %>
                    <div class="moreEpisodes"
                         onclick="var dme = document.querySelectorAll('[data-more-episodes]'); dme && dme.forEach(function(e) {e.style.display='block'});this.style.display='none'"><%- page.l.moreEpisodes %></div>
                <% } %>

            <% }); %>
        <% } %>
    <% } %>
<% } %>

<% /* Пагинация на главной странице */ %>
<%- include('includes/pagination.ejs'); -%>

<% /* Реклама внизу страницы */ %>
<% if (typeof page.adv === 'object' && page.adv.bottom) { %>
    <div style="text-align:center;margin:10px auto">
        <%- page.adv.bottom %>
    </div>
<% } %>

<%- include('includes/footer.ejs'); -%>

</body>

</html>