<% /* Информацию о фильме выводить проверяя существование */ %>
<% /* Тип */ %>
<% if (movie.type === 0) { %>Фильм<% } %>
<% if (movie.type === 1) { %>Сериал<% } %>
<% /* ID КиноПоиск */ %>
<% if (movie.kp_id) { %>ID КиноПоиск: <%- movie.kp_id %>
<% } %>
<% /* ID IMDb */ %>
<% if (movie.imdb_id) { %>ID IMDb: <%- movie.imdb_id %>
<% } %>
<% /* ID TMDb */ %>
<% if (movie.tmdb_id) { %>ID TMDb: <%- movie.tmdb_id %>
<% } %>
<% /* ID Douban */ %>
<% if (movie.douban_id) { %>ID Douban: <%- movie.douban_id %>
<% } %>
<% /* Название фильма */ %>
<%- movie.title %>
<% /* movie.title_ru - перевед. название */ %>
<% /* movie.title_en - ориг. название */ %>
<% /* movie.title_full - перевед. название / ориг. название (год) */ %>
<% /* movie.title_page - название для <title> */ %>
<% /* Описание фильма */ %>
<%- movie.description %>
<% /* movie.description_meta - описание для meta description */ %>
<% /* movie.description_short - короткое описание до 200 симв. */ %>
<% /* Год */ %>
<%- movie.year %>
<% /* movie.year_url - ссылка: <a href="...">год</a> */ %>
<% /* movie.year2 - фильм: год, сериал: 1 сезон 1 серия */ %>
<% /* movie.year3 - фильм: год, сериал: E01S01 */ %>
<% /* Список стран */ %>
<% if (movie.countries) { %><%- page.l.countries %>: <%- movie.countries %>
<% } %>
<% /* movie.countries_url - список стран в виде ссылок */ %>
<% /* movie.countries_arr - массив стран */ %>
<% /* movie.country - случайная страна */ %>
<% /* Список жанров */ %>
<% if (movie.genres) { %><%- page.l.genres %>: <%- movie.genres %>
<% } %>
<% /* movie.genres_url - список жанров в виде ссылок */ %>
<% /* movie.genres_arr - массив жанров */ %>
<% /* movie.genre - случайный жанр */ %>
<% /* Список режиссеров */ %>
<% if (movie.directors) { %><%- page.l.directors %>: <%- movie.directors %>
<% } %>
<% /* movie.directors_url - список режиссеров в виде ссылок */ %>
<% /* movie.directors_arr - массив режиссеров */ %>
<% /* movie.directors - случайный режиссер */ %>
<% /* Список актеров */ %>
<% if (movie.actors) { %><%- page.l.actors %>: <%- movie.actors %>
<% } %>
<% /* movie.actors_url - список актеров в виде ссылок */ %>
<% /* movie.actors_arr - массив актеров */ %>
<% /* movie.actors - случайный актер */ %>
<% /* Постер фильма */ %>
<img src="<%- movie.poster %>" alt="<%= movie.title %>" data-cinemapress-poster="<%- movie.poster %>">
<% /* movie.poster_big - большой постер */ %>
<% /* movie.poster - стандартный постер */ %>
<% /* movie.poster_min - маленький постер */ %>
<% /* Кадр из фильма */ %>
<img src="<%- movie.picture %>" alt="<%= movie.title %>">
<% /* movie.picture_big - большой кадр */ %>
<% /* movie.picture - стандартный кадр */ %>
<% /* movie.picture_min - маленький кадр */ %>
<% /* Кадры из фильма */ %>
<% if (movie.pictures && movie.pictures.length) { %>
    <div class="screens" id="lightgallery">
        <% movie.pictures.forEach(function (picture) { %>
            <a href="<%- !page.urls.movies.picture
                    ? picture.picture_big
                    : movie.url + '/' + page.urls.movies.picture %>">
                <img src="<%- picture.picture_min %>" alt="<%= movie.title %>">
            </a>
        <% }); %>
    </div>
    <% if (!page.urls.movies.picture) { %>
        <link href="/themes/default/public/desktop/css/lightgallery.min.css" rel="stylesheet">
        <script src="/themes/default/public/desktop/js/lightgallery.min.js"></script>
        <script>lightGallery(document.getElementById('lightgallery'));</script>
    <% } %>
<% } %>
<% /* Ссылка на фильм */ %>
<a href="<%- movie.url %>"><%= movie.title %></a>
<% /* movie.pathname - URL без домена /movie/idXXX */ %>
<% /* Ссылка на кадры */ %>
<% if (page.urls.movies.picture) { %>
    <a href="<%- movie.url %>/<%- page.urls.movies.picture %>"><%- page.l.picture %></a>
<% } %>
<% /* Ссылка на трейлер */ %>
<% if (page.urls.movies.trailer) { %>
    <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>"><%- page.l.trailer %></a>
<% } %>
<% /* Ссылка на онлайн */ %>
<% if (page.urls.movies.online) { %>
    <a href="<%- movie.url %>/<%- page.urls.movies.online %>"><%- page.l.online %></a>
<% } %>
<% /* Ссылка на скачать */ %>
<% if (page.urls.movies.download) { %>
    <a href="<%- movie.url %>/<%- page.urls.movies.download %>"><%- page.l.download %></a>
<% } %>
<% /* Качество */ %>
<% if (movie.quality) { %><%- page.l.quality %>: <%- movie.quality %>
<% } %>
<% /* Перевод */ %>
<% if (movie.translate) { %><%- page.l.translate %>: <%- movie.translate %>
<% } %>
<% /* Общий рейтинг (1-100) и число голосов */ %>
<% if (movie.vote) { %>
    <%- page.l.rating %>: <%- movie.rating %> (<%- movie.vote %> <%- page.l.votes %>)
<% } %>
<% /* КиноПоиск рейтинг (1-100) и число голосов */ %>
<% if (movie.kp_vote) { %>
    <%- page.l.kp %>: <%- movie.kp_rating %> (<%- movie.kp_vote %> <%- page.l.votes %>)
<% } %>
<% /* IMDb рейтинг (1-100) и число голосов */ %>
<% if (movie.imdb_vote) { %>
    <%- page.l.rating %>: <%- movie.imdb_rating %> (<%- movie.imdb_vote %> <%- page.l.votes %>)
<% } %>
<% /* Вышел на экраны или нет */ %>
<% if (movie.passed) { %>Премьера состоялась
<% } %>
<% /* Дата премьеры фильма */ %>
<% if (movie.premiere) { %><%- page.l.premiere %>: <%- movie.premiere %>
<% } %>
<% /* Настраиваемое поле */ %>
<% if (movie && movie.custom && movie.custom["hello"]) { %>
    <%- movie.custom["hello"] %>
<% } %>